

.form-steps-container {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 32px;
    margin-top: 32px;
}

.step-bubble {
    padding: 8px;
    border: 1px solid rgb(62, 112, 155);
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 75px;
    color: rgb(62, 112, 155);
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}

.step-current, .step-complete {
    background: rgb(62, 112, 155);
    color: #FFF;
}

.step-incomplete {
    cursor: not-allowed;
    pointer-events: none;
}